.checkbox {
  @include flex(center, flex-start);

  cursor: pointer;

  &.active {
    font-weight: 600;
  }

  &:hover {
    color: $main-color;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &_checkmark {
    margin-right: 10px;
    height: 15;
    width: 15;
    border: 1px solid $txt-second-color;

    i {
      transform: scale(0);
      transition: tranform 0.3s ease;
    }
  }

  input:checked ~ &_checkmark {
    background-color: $main-color;
    border: 1px solid $main-color;
    color: $txt-white;
    font-weight: 600;
  }

  input:checked ~ &_checkmark > i {
    transform: scale(1);
  }
}
