.mainContainer {
	display: flex;
	flex-direction: column;
	h3 {
		text-align: center;
		padding: 16px;
		margin: 8px 0;
	}
}

.container {
	display: grid;
	grid-template-rows: auto;
	gap: 1rem;
}

@media (min-width: 600px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 900px) {
	.container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1200px) {
	.container {
		grid-template-columns: repeat(4, 1fr);
	}
}
