.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 16px 24px;
	position: sticky;
	top: 0;
}

.logo {
	font-family: "Bodoni Moda";
	font-weight: 800;
	cursor: pointer;
	font-size: 24px;
	font-style: italic;
}

.searchBar {
	background-color: transparent;
	padding: 0.5rem;
	border: 0;
	font-family: "Bodoni Moda";
	font-weight: 400;
}

.cart {
	font-size: 24px;
	cursor: pointer;
}
