.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 16px 24px;
	position: sticky;
	top: 0;
}

.logo {
	font-family: "Bodoni Moda";
	font-weight: 800;
	cursor: pointer;
	font-size: 24px;
	font-style: italic;
}

.searchBar {
	background-color: var(--pink);
	padding: 0.5rem;
	border: 0;
	font-family: "Outfit";
	font-weight: 600;
	letter-spacing: 0.5px;
	color: var(--black);
	text-transform: lowercase;
}

.cart {
	font-size: 24px;
	cursor: pointer;
}
