
.sidebar {
    height: 100%;
    width: 160px;
    position: -webkit-sticky;
    position: fixed;
    z-index: 1;
   /* top: 0;*/
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }