.header-container {
    display: flex;
    justify-content: center;
    height: 149px;
    background-color: #15133C;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 70%;
}
.header h1{
    color: #EC994B;
}
.header img{
    height: 64px;
}
.header input{
    width: 30%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    transition: 0.3s;
    border-radius: 10px;
}