* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html {
  font-size: 13px;

  @include mobile {
    font-size: 11px;
  }
}

body {
  font-family: "Lucida Handwriting", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;

  &:hover {
    color: $main-color;
  }
}

img {
  max-width: 100%;
}

@each $color, $val in $colors {
  .color-#{$color} {
    color: $val;
  }

  .bg-#{$color} {
    background-color: $val;
  }
}

@each $val in $numbers {
  .grid-col-#{$val} {
    grid-template-columns: repeat($val, 1fr);
  }
}

@each $val in $numbers {
  .grid-col-md-#{$val} {
    @include tablet {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

.grid {
  display: grid;
}

@each $val in $numbers {
  .grid-col-sm-#{$val} {
    @include mobile {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

.main {
  margin-bottom: 2rem;

  @include mobile {
    margin-top: calc(#{$header-mobile-height} + 10px);
  }

  @include tablet {
    margin-top: calc(#{$header-tablet-height} + 20px);
  }
}

.container {
  padding: 0 50px;
  width: 100%;
  margin: auto;
  max-width: 1620px;

  @include mobile {
    padding: 0 10px;
  }

  @include tablet {
    padding: 0 20px;
  }
}
