* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
body {
    background-color: #faf5e4;
    overflow-x: hidden;
    height: 100vh;
}

.cart {
    color: #ffcb9a;
    height: 28px;
}

header {
    background: #004445;
    height: 410px;
    width: 100%;
    top: 0%;
}

.header-elements {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    margin-left: 80%;
    padding-top: 30px;
    padding-right: 20px;
}

.green-sofa {
    display: block;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.lamp {
    height: 150px;
    left: 60%;
    position: absolute;
    top: 0%;
}

.lamp2 {
    height: 150px;
    left: 66%;
    position: absolute;
    top: 0%;
}

.logo {
    height: 80px;
    width: 130px;
    margin-top: 2%;
    position: absolute;
    padding-left: 2%;
}

.slogan {
    color: #ffcb9a;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    left: 50%;
    position: absolute;
    top: 14%;
    transform: translate(-70%, -30%);
    text-shadow: 3px 3px 6px black;
}

::placeholder {
    color: #ffcb9a;
    padding-left: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
}

.search-container {
    display: flex;
    flex-direction: row;
}

.search {
    color: #ffcb9a;
    padding: 7px;
}

.search-main {
    border: 1px solid #ffcb9a;
    border-radius: 2%;
    outline: 0;
    background-color: #004445;
    color: #ffcb9a;
    height: 30px;
}

.slide-container {
    display: flex;
    margin-top: 10px;
    align-items: center;
    max-width: 300rem;
    overflow-y: auto;
}

.items-container {
    display: flex;
    align-items: center;
    max-width: 300rem;
    overflow-y: auto;
}

.single-item {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    margin: 0px 4px 5px;
}

.slide-container ::-webkit-scrollbar {
    display: none;
}

.banner-images {
    width: 500px;
    height: 350px;
}

.grid-container {
    margin: 0 auto;
    margin-left: 10px;
    padding: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: none;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    margin: 5px;
}

.single-furniture {
    flex: 1 1 15%;
    text-align: center;
    background: white;
    margin: 20px 20px 0 0;
    order: 5;
    box-shadow: 0 15px 15px rgba(51, 51, 51, 0.38);
    border-radius: 10px;
    width: 250px;
    height: 320px;
    border: solid 1px #faf5e4;
}

.single-furniture:first-child {
    flex: 10;
}

.single-furniture:nth-child(n+3) {
    background: white;
    align-self: flex-end;
}

.single-furniture:nth-child(n+5) {
    background: white;
    order: 1;
}

@media screen and (max-width: 800px) {
    .grid-container .image-furniture {
        flex: 100%;
    }
}

.footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #004445;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    min-height: calc(10vh - 10px);
    color: #ffcb9a;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.image-furniture {
    width: 180px;
    height: 180px;
    margin: 10px;
}

.product-info {
    margin-top: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    color: #004445;
    display: block;
    font-size: 10px;
}

.product-name {
    font-size: 13px;
}

.slidder-icon {
    color: #004445;
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.categories-main {
    margin: 0 auto;
    padding: 16px;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.categories-container {
    height: 250px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.categories-images {
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 100%;
    border: 10px solid #004445;
}

.categories-name {
    font-family: 'Ubuntu', sans-serif;
    color: #ffcb9a;
    position: absolute;
    font-size: 18px;
    text-shadow: 2px 2px 3px #004445;
}