:root {
	--white: #ffffff;
	--black: #25242b;
	--gray: #c4c4c4;
	--green: #e1e9d1;
	--pink: #ffe4e9;
	--blue: #94a8bb;
	--beige: #ac9988;
	--dark-green: #64806b;
}

* {
	box-sizing: border-box;
}

html,
body,
#root {
	box-sizing: border-box;
}

button {
	border: none;
	min-width: 16px;
	min-height: 16px;
	cursor: pointer;
	padding: 4px;
	transition: all 0.3s ease-in-out;
	box-shadow: 4px 4px transparent;
	background-color: transparent;

	&:hover {
		box-shadow: 4px 4px var(--pink);
		background-color: var(--green);
	}
}
