@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
body {
    background-color: #faf5e4;
    overflow-x: hidden;
}

.cart {
    height: 28px;
    color: #f8b400;
}

header {
    background: #004445;
    height: 410px;
}

.header-elements {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    margin-left: 80%;
    padding-top: 30px;
    padding-right: 20px;
}

.green-sofa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
}

.lamp {
    height: 150px;
    position: absolute;
    top: 0%;
    left: 60%;
}

.lamp2 {
    height: 150px;
    position: absolute;
    top: 0%;
    left: 66%;
}

.logo {
    height: 80px;
    position: absolute;
    margin-top: 2%;
    padding-left: 2%;
}

.slogan {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-70%, -30%);
    font-family: 'Ubuntu', sans-serif;
    color: #f8b400;
    font-size: 50px;
    text-shadow: 3px 3px 6px black;
}

::placeholder {
    color: #f8b400;
    padding-left: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.search {
    position: absolute;
    color: #f8b400;
    top: 6%;
    left: 90%;
}

.search-main {
    border: 1px solid #f8b400;
    border-radius: 2%;
    outline: 0;
    background-color: #004445;
    color: #f8b400;
    height: 30px;
}