@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");

:root {
  --primary-green: #a1c5cc;
  --dark-green: #709198;
  --primary-green-hover: #b7d8df;
  --opacity--green: #a1c5cce6;
  --mask-gray: #e4e4e4;
  --light-gray: #9999a6;
  --gray: #5c5c5c;
  --extralight-gray: #ebebeb;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  background-color: #404d6242;
  border-radius: 10px;
}

html {
  box-sizing: border-box;
}

* {
  user-select: none;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
