.container {
	padding: 16px 40px;
	background-color: var(--green);
	color: var(--black);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;

	p {
		font-size: 14px;
	}
}

.logo {
	font-family: "Bodoni Moda";
	font-weight: 600;
	font-style: italic;
	font-size: 14px;
	background-color: var(--pink);
}

.footer {
	font-size: 14px;
	@media (max-width: 768px) {
		width: 100%;
	}
}
