.container {
	padding: 32px 40px;
	background-color: var(--green);
	color: var(--black);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	font-size: 16px;
}

.logo {
	font-family: 'Bodoni Moda';
	font-weight: 600;
	font-style: italic;
	background-color: var(--pink);
}

.footer {
	font-size: 16px;
	@media (min-width: 600px) {
		font-size: 14px;
		width: 100%;
	}
}
